@font-face {
    font-family: 'iconfont';
    src: url('../asset/font/iconfont.woff2?t=1716461296073') format('woff2'),
        url('../asset/font/iconfont.woff?t=1716461296073') format('woff'),
        url('../asset/font/iconfont.ttf?t=1716461296073') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}