@import "base.css";
@import "leftNav.css";
@import "mainContent.css";
@import "showInfo.css";
body {
  font-family: 'Segoe UI', "PingFang SC", "SF Pro", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box !important;
}
:root {
  /* input */
  --inputBackgroundColor: #ffffff0d;
  --inputBorderColor: #ffffff14;
  --inputLabelColor: rgba(255, 255, 255, 0.786);
  /* leftNav */
  --leftNavBackground: #202020;
  --leftNavItemHoverBackgroundColor: rgba(255, 255, 255, 0.0605);
  --leftCurNavItemBackgroundColor: rgba(255, 255, 255, 0.0605);
  --leftCurNavItemHoverBackgroundColor: rgba(255, 255, 255, 0.0605);
  /* other */
  --label: #FFFFFF;
  --icon: #FFFFFF;
  --title: #9f978b;
  /* mainContent */
  --mainContentBackground: #202020;
  --mainContentLeftTitle: #ffffff;
  --mainContentLeftSum: #7a7979;
  --backBtnColor: #ffffff;
  --mainContentIconWrapContent: #2b2b2b;
  --mainContentIconWrapContentBottomInfoNameCOlor: #ffffff;
  --mainContentIconWrapContentBottomInfoSumCOlor: #ffffff;
  /* showInfo */
  --showInfoBackgroundColor: #2c2c2cf0;
  --showInfoBorderColor: ##ffffff0d;
  --showInfoLabelBorderColor: #ffffff17;
  --showInfoLabelColor: #FFFFFF;
  --closeColor: #ffffff;
  --maskColor: #2b2b2b;
}
.home {
  --leftNavWidth: 320px;
  --lineWidth: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  overflow-y: hidden;
}
.mask {
  width: 100vw;
  height: 100vh;
  background-color: var(--maskColor);
  opacity: 0.15;
  position: absolute;
  z-index: 2;
}
